html,
body {
  font-family: "Charter", "Georgia", serif;
}

.TextPageMain p {
  margin-bottom: 1rem;
  line-height: 140%;
}

blockquote {
  margin: 1rem 2rem;
  line-height: 140%;
}

/* This is for <blockquotes> inside .HandNoteBlock */
.HandNoteBlock blockquote {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
